.chatbot-popup {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 9999;
}

.chatbot-button-popup {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  z-index: 9999;
  background-color: #5acc9a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatbot-button-popup:hover {
  background-color: #4aab80;
}
